body {

    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    background-color: #282c34;
    margin: 200px;
    font-family: Arial, Helvetica, sans-serif;
}

.game-board {

    display: grid;
    grid-template-columns: repeat(4,100px);
    grid-gap: 10px;

}

.card {
    width: 100px;
    height: 100px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    cursor: pointer;
    position: relative;
    transform: perspective(1000px) rotateY(180deg);
    transform-style: preserve-3d;
    transition: transform 0.4s;

}

.card.flip {

    transform: perspective(1000px) rotateY(0);

}

.front, .back {

    width: 100px;
    height: 100px;
    position: absolute;
    backface-visibility: hidden;

}

.front {

    background-color: #fff;
    transform: rotateY(180deg);

}

.back {

    background-color: #2e3d49;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: rotateY(0);
}
#score-board {
        position: fixed;
        top: 20px;
        right: 20px;
        font-size: 24px;
        font-weight: bold;
        background-color: #fff;
        padding: 10px;
        border-radius: 5px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

}

#win-message {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 36px;
    font-weight: bold;
    color: green;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#win-message button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 20px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    transition: background-color 0.3s;
}

#win-message button:hover {
    background-color: #0056b3;
}
